@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/responsive';

.nav{
    // border: 2px solid red;
    height: 10vh;
    padding: 1rem;

    &__list{
        text-align: right;
    }
    &__item{
        display: inline;
        padding: 1rem;
    }

    &__link{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font-family;
        // transition: all 1s;
        @include transition(.5s);
        text-decoration: none;


        &:hover{
            color: rgb(163, 161, 161);
        }
        &.active{
            color: $secondary-color;
        }
    }


}